.newGameButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 12px;
  margin: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.newGameButton:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.newGameButton:active {
  background-color: #3e8e41;
  transform: scale(0.95);
}


/* RESPONSIVE PARTIE */

@media (max-width: 600px) {

  .newGameButton {
    padding: 8px 10px;
    font-size: 10px;
    border-radius: 10px;
  }
}

/* Pour les téléphones en mode portrait */
@media (max-width: 480px) {

  .newGameButton {
    padding: 8px 10px;
    font-size: 10px;
    border-radius: 10px;
  }
}
