* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .header {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card {
  width: 210px;
  height: 280px;
  margin: 6px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.04);
}

.card-inner {
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-front {
  background: #e0e1e4;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

}

.card-back img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}


.Main-title {
  color: rgb(13, 27, 44);
  font-size: 1.75em;
  color: #251f38;
}

.Secondary-title {
  color: rgb(247, 247, 247);
  font-size: 16px;
}

.banner {
  padding: 100px;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url('/imgs/compressed-banner.webp');
  background-size: cover;
  background-position: 100% 10%;
}

.title-wrappers {
  text-align: center;
}

.gameboard-container {
  display: flex;
  justify-content: center;
}

.easy-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: auto;
}

.game-board-normal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: auto;
}

.difficult-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: auto;
}

.congrats-text {
  margin-bottom: 2vh;
  margin-top: 2vh;
  font-size: 20px;
  color: #6e81da;
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.nb-coups-congrats {
  font-size: 24px;
  color: white;
  animation: slideIn 2s ease-out forwards;
}

.compteur {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  border-radius: 25px;
  margin-top: 2vh;
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  margin-top: 6vh;
  text-align: center;
  padding: 1.5rem;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.lien-insta {
  text-decoration: none;
  color: rgb(103, 228, 245);
}

.counter-color {
  color: rgb(174, 236, 216);
  font-size: 22px;
}

.nb-coups {
  color: rgb(106, 158, 240);
}

/* RESPONSIVE PART */


/* Pour les tablettes en mode paysage */
@media (max-width: 1024px) {
  .compteur {
    font-size: 10px;
  }

  .nb-coups-congrats {
    font-size: 14px;
  }

  .game-board {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    width: 120px;
    height: 160px;
  }

  .difficult-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Pour les iPad et tablettes en mode portrait */
@media (max-width: 768px) {
  .game-board {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    width: 80px;
    height: 120px;
  }

  .banner {
    padding: 25px;
  }

  .congrats-text {
    font-size: 12px;
  }


  .App {
    height: 100vh;
  }
}

/* Pour les grands téléphones en mode paysage */
@media (max-width: 600px) {
  .compteur {
    font-size: 10px;
  }

  .counter-color {
    font-size: 14px;
  }

  .game-board {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 70px;
    height: 100px;
  }

  .Main-title {
    font-size: 16px;
  }

  .Secondary-title {
    font-size: 10px;
    margin-top: 2vh;
  }

  .difficult-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Pour les téléphones en mode portrait */
@media (max-width: 480px) {

  .game-board {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 60px;
    height: 90px;
  }
}
