* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-image: url('/imgs/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
}

.Main-title {
  color: rgb(13, 27, 44);
  margin-bottom: 1vh;
}

.Secondary-title {
  color: rgb(13, 27, 44);
  font-size: 18px;
}

.gameboard-container {
  display: flex;
  justify-content: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: auto;
}

.card {
  width: 210px;
  height: 280px;
  margin: 6px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.02);

}

.card-inner {
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-front {
  background: #ccc;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

}

.card-back img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.game-over {
  margin-top: 20px;
  text-align: center;
}

.game-over button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.compteur {
  color: rgb(29, 28, 28);
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  margin-top: 6vh;
  text-align: center;
  padding: 8px;
  background-color: #648fb9;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.lien-insta {
  text-decoration: none;
}

.counter-color {
  color: rgb(174, 236, 216);
}

/* RESPONSIVE PART */


/* Pour les tablettes en mode paysage */
@media (max-width: 1024px) {
  .game-board {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    width: 120px;
    height: 160px;
  }
}

/* Pour les iPad et tablettes en mode portrait */
@media (max-width: 768px) {
  .game-board {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    width: 80px;
    height: 120px;
  }
}

/* Pour les grands téléphones en mode paysage */
@media (max-width: 600px) {
  .game-board {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 70px;
    height: 100px;
  }

  .newGameButton {
    padding: 4px 8px;
    font-size: 8px;
    border-radius: 12px;
    margin: 6px;
  }
}

/* Pour les téléphones en mode portrait */
@media (max-width: 480px) {
  .game-board {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 60px;
    height: 90px;
  }

  .newGameButton {
    padding: 4px 8px;
    font-size: 8px;
    border-radius: 12px;
    margin: 6px;
  }
}
